#tmes {
    // background: var(--color-tmes);
}

.bg_video {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    filter: brightness(50%);
    object-fit: cover;
}

@media (max-aspect-ratio: 16/9) {
    .bg_video {
        width: auto;
        height: 100vh;
    }
}

.tmes_info_ {
    display: flex;
    flex-direction: row;

    .mySwiper {
        height: 80%;
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    .swiper {
        width: 100%;
        height: 50%;


        .swiper-slide {
            text-align: center;
            font-size: 18px;
            // background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 80%;
            height: 60%;
            object-fit: cover;
        }
    }
}

.tmes_info_-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.tmes_info_-image img {
    // width: 7;
    max-width: 500px;
    // height: 50%;
}

#tmes {
    .header-image img {
        height: 100%;
        width: 100%;
        margin: 1rem;
        margin-top: 0;
        max-width: 600px;
        object-fit: cover;
    }
}

.tmes_info_-content {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.tmes_info_-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2rem;
    line-height: 30px;
    color: var(--gradient-tmes);
    margin-bottom: 2rem;
    text-decoration: underline;
}

.tmes_info_-content ul li {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;
    font-weight: bold;
}

.tmes_info_-content h4:last-child {
    color: var(--color-subtext);
}

.tmes_info_-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2rem;
    line-height: 45px;
    margin: 1rem 0;
}

.tmes_info_-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;

}

.circle {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #circlesvg {
        aspect-ratio: 1;
        border-radius: 50%;
        height: 10px;
        background-color: black;
    }
}


@media screen and (max-width: 950px) {
    .tmes_info_ {
        flex-direction: column;
    }

    .tmes_info_-image {
        margin: 1rem 0;
    }

    .tmes_info_-image img {
        width: unset;
        height: unset;
    }

    .tmes_info_-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .tmes_info_-image img {
        width: 100%;
        height: 100%;
    }
}