.Error_404 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#error {
    background: var(--color-great);
    color:white;
}