.about {
    padding-top: 50px;
    background: var(--color-about);


    * {
        color: var(--color-about-text);
    }

    .about_container {
        width: 100%;

        .Gsec_h2 {
            font-size: 4rem;
            font-weight: bold;
        }


        .info_cards {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            article {
                width: 300px;
                // max-width: 400px;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin: 0.7rem;
                padding: 2rem;
                border: none;
                background: var(--color-about-cards);
                border-radius: 4px;

                * {
                    transition: all 0.1s;
                }

                .links {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .icon {
                        &:hover {
                            transform: scale(1.2);
                            cursor: pointer;
                        }

                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                        margin-top: 15px;
                        margin-bottom: -10px;
                    }

                    .icons1:hover {
                        color: #4267B2;
                    }

                    .icons2:hover {
                        color: #E1306C;
                    }

                    .icons3:hover {
                        color: #1DA1F2;
                    }
                }

                h2 {
                    font-size: 1.2rem;
                    font-weight: bold;


                }

                h3 {
                    font-size: 1rem;
                    font-weight: bold;
                    padding-bottom: 8px;
                }

                h4 {
                    font-size: 1rem;
                    font-weight: bold;
                    padding-bottom: 8px;
                }
            }

        }

        .head_name {
            font-size: 2.7rem;
            font-weight: bold;
            margin-top: 2rem;
            text-align: center;
        }

    }

    .change-active {
        background: #bfc0c0;
        color: black;

        span {
            color: #2d3142;
        }
    }

    .changebutton {
        display: inline-flex;
        height: 40px;
        width: 200px;
        border: 2px solid #bfc0c0;
        margin: 20px;
        color: #bfc0c0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    #button-2 {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    #button-2 span {
        position: relative;
        transition: all 0.35s ease-Out;
    }

    #slide {
        width: 100%;
        height: 100%;
        left: -200px;
        background: #bfc0c0;
        position: absolute;
        transition: all 0.35s ease-Out;
        bottom: 0;
    }

    #button-2:hover #slide {
        left: 0;
    }

    #button-2:hover span {
        color: #2d3142;
    }

    img {
        // height: 300px;
        border-radius: 4px;
        width: 100%;
        aspect-ratio: 0.8;
        object-fit: cover;
    }

    h2 {
        text-align: center;
        display: block;
    }

    .divider {
        padding: 1rem;

        div {
            background-color: var(--color-about-cards);
            width: 100%;
            height: 4px;
        }

    }
}


@media only screen and (max-width:420px) {
    .about {
        .about_container {
            .Gsec_h2 {
                font-size: 2.5rem;
                font-weight: bold;
            }
        }
    }


}