.loader {
    * {
        transition: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg);

    .motto {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        overflow: hidden;

        span {
            font-size: 26px;
        }
    }

    .Name {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        width: 100%;
        /* background-color: red; */
        font-family: var(--font-family);
        overflow: hidden;
        object-fit: contain;

        span {
            font-size: 80px;

            @media screen and (max-width: 640px) {
                font-size: 40px;
            }
        }

        .circle {
            width: 60px;
            height: 60px;
            border: 4px solid white;
            color: #d6e5fa;
            border-radius: 100%;

            @media screen and (max-width: 640px) {
                width: 30px;
                height: 30px;
                color: #d6e5fa;
            }
        }
    }
}