#home {
    // background: var(--color-great);
}

.header {
    display: flex;
    // flex-direction: column;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    color: red;
}

// @font-face {
//     font-family: Georgia;
//     src: url(./Assets/Fonts/BauhausRegular.ttf);
// }
.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-content h1 {
    font-weight: 800;
    font-size: 4.5rem;
}

.Prof {
    display: flex;
    justify-content: center;

    video {
        max-width: 900px;
        border-radius: 4px;
    }
}

.header-content p {
    // font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;

    a {
        text-decoration: underline;
    }
}

.header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-subtext);
    border: 2px solid var(--color-subtext);
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-radius: 5px;

    &:hover {
        opacity: 0.8;
    }
}

.header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.header-content__people img {
    width: 181.79px;
    height: 38px;
}

.header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.video_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    video{
        width: 100%;
        filter: brightness(1);
    }
}

.header-image img {
    height: 60px;
    margin: 1rem ;
    margin-top:0;
    max-width: 600px;
    object-fit: cover;
}

.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Prof {
    display: flex;
    flex-direction: row;

    .mySwiper {
        height: 80%;
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    .swiper {
        width: 100%;
        height: 50%;


        .swiper-slide {
            text-align: center;
            font-size: 18px;
            // background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 80%;
            height: 60%;
            object-fit: cover;
        }
    }
}

.Prof-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.Prof-image img {
    width: 70%;
    max-width: 300px;
    // height: 50%;
}

.Prof-content {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.Prof-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2rem;
    line-height: 30px;
    color: #71E5FF;
    margin-bottom: 2rem;
}

.Prof-content ol li {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;
}

.Prof-content h4:last-child {
    color: var(--color-subtext);
}

.Prof-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2rem;
    line-height: 45px;
    margin: 1rem 0;
}

.Prof-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;

}

.circle {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #circlesvg {
        aspect-ratio: 1;
        border-radius: 50%;
        height: 10px;
        background-color: black;
    }
}


@media screen and (max-width: 950px) {
    .Prof {
        flex-direction: column;
    }

    .Prof-image {
        margin: 1rem 0;
    }

    .Prof-image img {
        width: unset;
        height: unset;
    }

    .Prof-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .Prof-image img {
        width: 100%;
        height: 100%;
    }
}



@media screen and (max-width: 1050px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content {
        margin: 0 0 3rem;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .header-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .header-content__people {
        flex-direction: column;
    }

    .header-content__people p {
        margin: 0;
    }

    .header-content__input input,
    .header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .header-content__input input,
    .header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}