.custom_btn {
    padding: 0.5rem 1rem;
    color: #fff;
    background: var(--color-subtext);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 25px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    border: 2px solid var(--color-subtext);
    transition: all 0.2s ease;
    box-shadow: 5px 5px;

    &:hover {
        background: none;
    }
}