.form-group {
    max-width: 360px;
    align-items: center;
    

    &:not(:last-child) {
        margin-bottom: 7%;
    }

}

.form {
    margin: auto;
    display: table;
    min-width: 30%;
}
.auth-div {
    align-items: center;
    .header {
        display: flex;
        flex-direction: column;
    }
    .header-para{
        color: #202124;
        font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    
}
.lower-para{
    color: rgb(0, 17, 255);
    cursor: pointer;
    margin: 2% 0;
}