@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


.gth {
  --gth-font: rgb(76, 139, 255);

  .box {
    display: flex;
    justify-content: center;

    .box-side {
      margin: 1rem;
      padding: 1rem;

      text-align: center;
      border: 2px dashed rgb(133, 176, 255);
      border-radius: 20px;
    }
  }


  .head {
    font-family: 'Rocher';
    margin: 0;
    line-height: 3rem;
    text-align: center;
    font-size: 50px !important;
  }

  .word {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    color: var(--gth-font) !important;
    margin: 0.4rem !important;
  }

  .inputField {
    border-width: 0;
    border-style: solid;
    width: 60px;
    height: 50px;
    margin: 2px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(133, 176, 255);

    &:focus {
      outline: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
    will-change: transform;
  }

  @media screen and (max-width: 900px) {
    .box {
      flex-direction: column;
    }

    .head {
      font-size: 8vw !important;
    }
  }
}