{% extends "base.html" %}

{% block title %}{{ event_name }} - Great Step{% endblock %}

{% block content %}
<div id="home">
    <div id="off_events">
        <div class="off_events">
            <div class="off_events_left">
                <div class="off_event-heading">
                    <!-- Optional heading -->
                </div>
                <div class="off_events-image">
                    <img src="{{ event_image }}" alt="{{ event_name }}">
                    <div>
                        <div class="off_events_button">
                            {% if rules_url %}
                            <a target="_blank" href="{{ rules_url }}">
                                <button class="custom_btn1" style="background: #102236;">Rules</button>
                            </a>
                            {% endif %}
                        </div>
                        <div class="off_events_button">
                            {% if ps_url %}
                            <a target="_blank" href="{{ ps_url }}">
                                <button class="custom_btn1" style="background: #102236;">Problem Statement</button>
                            </a>
                            {% endif %}
                        </div>
                        {% if submission_url %}
                        <div class="off_events_button">
                            <a target="_blank" href="{{ submission_url }}">
                                <button class="custom_btn2">Submission</button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="off_events_right">
                <div class="off_events-content">
                    {% for info_item in info_list %}
                    <p>{{ info_item }}</p>
                    {% endfor %}
                </div>
                <div class="off_events_button" style="margin: 1rem;">
                    <a href="{{ url_for('competitions') }}" class="custom_btn1" style="background: #102236;">back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
