@import url("https: //fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
// font-family: 'Josefin Sans', sans-serif;

.carousel2 {
    // justify-content: center;
    // align-items: center;
    padding: 2rem 0;

    .carousel2_title {
        text-align: center;
        font-size: max(2vw, 2rem);
        margin-bottom: 1rem;
        color: white;
    }
    
    .mySwiper {

        .swiper-slide {
            height: 300px;
            width: auto;

            img {
                object-fit: cover;
                width: 100%;

                border-radius: 1%;
                height: 100%;
            }
        }
    }
}

.skillcard_container {
    height: 120px;
    display: flex;
    margin: 0 0.6rem;
    overflow: hidden;
    border-radius: 0.4rem;

    @media screen and (max-width: 890px) {
        height: 80px;
    }
}