@import url('https://fonts.googleapis.com/css?family=Roboto');

nav {
  background-color: var(--gradiant_nav);
  font-family: BauhausRegular;


  .navbar {
    padding: .6rem;
  }

  i {
    margin-right: 10px;
  }

  .collapse {
    justify-content: center;
  }

  .navbar-logo {
    padding: 15px;
    color: #fff;
    pointer-events: none;
  }

  .navbar-mainbg {
    background-color: #000000;
    padding: 0px;
  }

  #navbarSupportedContent {
    overflow: hidden;
    position: relative;
  }

  #navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
  }

  #navbarSupportedContent ul li a i {
    margin: 10px;
    padding: 10px;
  }

  #navbarSupportedContent li {
    list-style-type: none;
    float: left;
    padding: 0 3px;
  }

  #navbarSupportedContent ul .nav-link li {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    // padding: 14px 14px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
  }

  #navbarSupportedContent ul .active li {
    color: #000000;
    background-color: transparent;
    transition: all 1s;
  }

  .hori-selector {
    display: inline-block;
    position: absolute;
    transition-duration: 0.6s;
    // transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-radius: 10px;
  }


  .navbar-logo {
    margin-right: 1rem;
  }

  .navbar-logo img {
    width: 200px;
    object-fit: cover;
  }

  .toggler {
    visibility: hidden;
    font-size: 1.8rem;
    margin: 0.4rem 1rem;
  }

  @media (max-width: 991px) {

    .toggler {
      visibility: visible;
    }

    #navbarSupportedContent li {
      padding: 0 10px;
    }


    #navbarSupportedContent ul li a {
      padding: 12px 30px;
    }

    .hori-selector {
      margin-top: 0px;
      // margin-left: 10px;
      border-radius: 0;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
      right: 10px;
    }

    .hori-selector .left {
      top: -25px;
      left: auto;
    }

    .hori-selector .right {
      bottom: -25px;
    }

    .hori-selector .left:before {
      left: -25px;
      top: -25px;
    }

    .hori-selector .right:before {
      bottom: -25px;
      left: -25px;
    }

    .fas {
      margin: 1rem;
    }
  }



}