@font-face {
    font-family: BauhausRegular;
    src: url(./Assets/Fonts/BauhausRegular.ttf);
}

@font-face {
    font-family: 'Rocher';
    src: url(./Assets/Fonts/Quarterback-6YrgD.otf);
}

.content {
    max-width: 2160px;
    margin: 0 auto;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: radial-gradient(circle at 3% 25%, #EAEAEA 0%, #3C4048 25%);
}



.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: BauhausRegular;
}

.text__tmes {
    // font-family: BauhausRegular;
    background: rgb(170, 223, 255);
    background-clip: text;
    font-size: 1.4rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 2rem 6rem;
}

.section__margin {
    margin: 2rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transform-origin: top left;
}

.heading {
    text-align: center;
    font-size: 3.2rem;
}


@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 2rem;
    }


}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 2rem 1rem;
    }


}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
}

.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}

// online off animation

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #f0e1ff 0%,
            #18ffff 29%,
            #aa92ff 67%,
            #004085 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    font-weight: 900;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-family: monospace;

}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#root {
    background: var(--color-great);
}

// card border animation


.text {
    animation: color-change 2s linear infinite;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    border-right: solid 1px #ffffff;
    border-bottom: solid 3px #ffffff;
    // border-top: solid 3px #ff1493;
}

@keyframes color-change {


    0%,
    100% {
        border-color: #f0e1ff;
    }

    25% {
        border-color: #18ffff;
    }

    50% {
        border-color: #aa92ff;
    }

    75% {
        border-color: #004085;
    }
}

// border 2