@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow&display=swap";


:root {
  --font-default: 'Barlow', sans-serif;

  // --font-family: 'Alegreya Sans', sans-serif;

  --font-sz-p: 1.2rem;

  // --gradient-text: linear-gradient(89.97deg, #a1c1ff 1.84%, rgb(110, 255, 255) 102.67%);
  // --gradient-tmes: linear-gradient(89.97deg, #fb4242 1.84%, rgb(255, 179, 0) 102.67%);

  --gradient-text: #77e1ac;
  --gradient-tmes: #ffb765;
  --gradiant_nav: #ffffff;

  --color-pri: #ffffff;
  --color-sec: #000000;
  --color-bg: #FAF7F0;
  --color-text: #000000;
  --color-subtext: rgb(8, 164, 167);
  --color-footer: #0E2E50;
  --color-events: #ffedf3;
  --color-events-text: #F2789F;
  --color-about: #EFFFFD;
  --color-about-text: #68e1d3;
  --color-about-cards: #defffb;
  --color-tmes: #fff9f1;
  --color-great: #E1FFEE;
  --color-error: rgb(255, 255, 240);
}

.theme1 {
  --gradient-text: #77e1ac;
  --gradient-tmes: #6D67E4;
  --gradiant_nav: #0a1521;

  --color-pri: #000000;
  --color-sec: #fff;
  --color-bg: #000;
  --color-text: #EFF5F5;
  --color-subtext: #aa92ff;
  --color-footer: #0E2E50;
  --color-events: #001428;
  --color-events-text: #87c1ff;
  --color-about: #0d1b2a;
  --color-about-text: #f0e1ff;
  --color-about-cards: #001428;
  --color-tmes: #0d1b2a;
  --color-great: #0d1b2a;
  --color-error: rgb(255, 255, 240);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  // transition: 0.2s ease;
  // color: var(--color-text);
  font-family: 'Open Sans', sans-serif;
  font-family: var(--font-default);
  font-weight: normal !important;
}

*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}