.custom_btn1 {
    padding: 0.4rem 1rem;
    margin: 0 1rem;
    color: #fff;
    background: var(--gradiant_nav);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 25px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--gradiant_nav);
    transition: all 0.2s ease;

    &:hover {
        transform: translate(4px);

    }
}

.custom_btn3 {
    padding: 0.4rem 1rem;
    margin: 0.4rem;
    color: #fff;
    background: var(--gradiant_nav);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 25px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--gradiant_nav);
    transition: all 0.2s ease;

    &:hover {
        transform: translate(4px);

    }
}

.custom_btn2 {
    padding: 0.4rem 1rem;
    color: #fff;
    background: rgb(29, 33, 77);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 25px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--gradiant_nav);
    transition: all 0.2s ease;

    &:hover {
        transform: translate(4px);
        background: rgb(156, 255, 207);
        color: black;
    }
}

@media screen and (max-width: 900px) {
    .custom_btn1 {
        padding: 0.4rem 0.6rem;
        font-size: 1rem;
    }
}