.card_first {

    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background: var(--color-events);
    border-radius: 4px;


    .card_img {
        position: relative;
        display: block;

        div {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);

            margin-bottom: 5px;
            font-family: sans-serif;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: visibility 0s, opacity 0.5s linear;
            transition: visibility 0s, opacity 0.5s linear;
        }
    }


    .card_img:hover div {
        visibility: visible;
        opacity: 1;
    }

    .card_check {
        font-size: 20px;
        color: rgb(255, 253, 253);
        font-size: 1.6rem;

    }

    img {
        aspect-ratio: 1.4;
        width: 400px;
        border-radius: 4px;
        object-fit: cover;
        margin-bottom: 10px;
        transition: all 0.3s;
    }
}