@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

.addmember_alert {
    color: rgb(91, 255, 192);
    padding: 0.4rem;
    margin: 0.6rem;
    background: rgb(0, 91, 91);
    border-radius: 4px;
    text-align: center;
}

#off_events {
    background: var(--color-great);
    padding: 2%;

    .off_event-heading {
        text-align: center;

        h2 {
            font-size: 3rem;
            font-family: 'Barlow', sans-serif !important;
        }
    }


    .off_events {
        display: flex;
        // min-height: 80vh;


        .off_events_left {
            flex: 2;
            padding: 2rem 0;
            background: linear-gradient(to left, #152639, #0a1521);

            .off_events-image {
                display: flex;
                padding: 1rem;
                flex-direction: column;
                align-items: center;
                height: 100%;
                // justify-content: center;

                .off_events_button {
                    margin: 1rem;
                    margin-bottom: 0;
                }

                >div {
                    display: flex;
                    // align-items: center;
                    flex-direction: column;
                }

                img {
                    // aspect-ratio: 1.4;
                    width: 100%;
                    max-width: 400px;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }
        }

        .off_events_right {
            flex: 3;
            background: #0a1521;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;



            .off_top {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;

                h4 {
                    font-size: 1.3rem;
                    color: var(--color-events-text);
                }

                h5 {
                    font-size: 1.2rem;
                    color: var(--color-events-text);
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            p {
                margin: 1rem 0;
                font-size: 1rem;
                color: var(--color-sec);
            }

            .off_events_button {
                align-self: end;
            }
        }
    }

    @media screen and (max-width:1100px) {
        #off_events {
            padding: 0;
        }

        .off_events {
            flex-direction: column;
        }

        .off_events .off_events_left .off_events-image {
            flex-direction: row;
        }
    }

    @media screen and (max-width:900px) {
        .off_events .off_events_left .off_events-image {
            flex-direction: column;
        }
    }
}