.events {
	overflow: hidden;
	background: var(--color-great);

	.events_second {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		.change-active {
			background: #bfc0c0;
			color: black;

			span {
				color: #2d3142;
			}
		}

		.changebutton {
			display: inline-flex;
			height: 40px;
			width: 200px;
			border: 2px solid #bfc0c0;
			margin: 20px;
			color: #bfc0c0;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 1rem;
			letter-spacing: 1.5px;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}

		#button-2 {
			position: relative;
			overflow: hidden;
			cursor: pointer;
		}

		#button-2 span {
			position: relative;
			transition: all 0.35s ease-Out;
		}

		#slide {
			width: 100%;
			height: 100%;
			left: -200px;
			background: #bfc0c0;
			position: absolute;
			transition: all 0.35s ease-Out;
			bottom: 0;
		}

		#button-2:hover #slide {
			left: 0;
		}

		#button-2:hover span {
			color: #2d3142;
		}


		span {
			color: #bfc0c0;
			text-decoration: none;
			letter-spacing: 1px;
		}

		.events_design {
			margin: 10px;
			margin-top: 2rem;
		}
	}

	.events_design {
		width: 220px;
		height: 50px;
		background: var(--gradient_nav);
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--color-footer);
		border-radius: 4px;
		font-size: 1rem;
		transition: all 0.3s;

		&:hover {
			background: var(--color-footer);
		}
	}

	.event_active {
		background: var(--color-footer);
	}

	.types {
		transform: scale(1.1);
		text-align: center;
		font-size: 40px;
		color: white;
	}

	.events_cards {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		margin-bottom: 30px;
	}

	@media screen and (max-width: 900px) {
		.events_second {
			flex-direction: column;
			align-items: center;
		}
		.types {
			transform: scale(1.1);
			text-align: center;
			font-size: 28px;
			color: white;
		}
	}
}